body{
    font-family: 'Poppins', sans-serif;
font-family: 'Spline Sans', sans-serif;
margin: 0;
}
h1{
    font-size: 40px;
    color: rgba(10, 182, 224, 0.897);
}
.snow-color{
    color: rgb(10, 32, 105);
}
section{
    display: flex;
}
.term{
    width: 40%;
    padding-left: 2%;
}
.term img{
    width: 95%;
}
.first-link{
    text-decoration: none;
    background-image: linear-gradient(blue, aqua);
    padding: 10px 40px;
    counter-reset: black;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}